.content {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #0075c4;
  color: #fff;
  &__header {
    padding: 25px 0 0 30px;
  }
  &__main {
    margin: auto 0;
    display: flex;
    padding: 0 150px;
  }
  form {
    display: flex;
    flex-direction: column;
    p {
      font-size: 12px;
      margin-bottom: 5px;
    }
    .content__input {
      margin-bottom: 10px;
    }
  }
}
